.white {
    color: white;
}

.wrong {
    color: #c84855;
}

.default {
    color: #626467;
}
.character {
    font-size: 2rem;
    /* padding-right:0.001rem; */
    padding: 0;margin: 0;
    /* margin-left: -4px; */
    /* display: inline-flex; */

    /* min-width: 140px; */
    /* border: 1px solid red; */
    /* padding-right: 0.05 rem; */
}

/* span{
    padding: 0;
    margin: 0;
} */
.current{
    border-bottom: 1px solid yellow;
    /* background-color: rgba(238, 255, 0, 0.328); */
}